@import '../skymath-common/style/common';

.h2, .h3 {
    color: black;
    line-height: 1.1em;
    margin: 5px 0;
}

.h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.h3 {
    font-size: 1.2em;
    text-transform: none;
    font-weight: 300;
}

input {
    color: black;
}

.admin-app {
    background: transparent url("../img/skymath-bg.png") repeat-x 0 40px;
}

.app-min-height {
    min-height: 500px;
}

.header {
    display: table-row;
}

.header-image {
    width: 350px;
    display: table-cell;
}

    .header-image__img {
        padding: 10px 0;
    }

.header-title {

    vertical-align: bottom !important;
    padding: 0 0 20px 20px;
    display: table-cell;
}

.main-container {
    background: transparent url("../img/rect-blue-50pct.png") repeat;
}

// Menu Styling
.top-menu {
    text-align: right;
    margin: 10px 40px 0 0;
}

    .menu-item {
        display: inline-block;
        margin-right: 80px;
        background-color: $darkGray;
        color: white;
        width: 180px;
        padding: 10px 0;
        text-align: center;
        margin: 0 1px;
        text-transform: uppercase;

        &:hover {
            background-color: $activeBlue;
            cursor: pointer;
        }

        &.menu-subitem {
            display: block;
        }

        .menu-label {
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
        }
    }

.sub-menu {
    position: absolute;
    right: 40px;
}

.footer {
    background-color: $darkGray;

}

.fieldset {
    &.inline-fields {
        .label, .field {
            display: inline-block;
            padding: 20px;
        }

        margin: 5px 0;
    }
}

.field {
    &.read-only {
        background: transparent url("../img/rect-blue-50pct.png") repeat;
    }

    &.field--fixedwidth {
        width: 25%;
        min-width: 140px;
    }
}

.IslandDetail input[type=text] {
    width: 90%
}